.product {
	padding: 20px;
}

.productTitleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.productAddButton {
	border: none;
	padding: 5px 15px;
	background-color: teal;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.productTop {
	display: flex;
}

.productFormRight,
.productFormLeft,
.productTopLeft {
	flex: 1;
}

.productInfoImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 20px;
}

.productInfoTop {
	display: flex;
	align-items: center;
}

.productName {
	font-size: 20px;
	font-weight: 600;
}

.productInfoBottom {
	margin-top: 20px;
}

.productInfoItem {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	margin: 10px 0;
}

.productInfoValue {
	font-weight: 300;
}

.productBottom {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.productBottomLeft {
	flex: 1;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
	flex: 2;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
	gap: 30px;
}

.productFormLeft {
	display: flex;
	flex-direction: column;
}

.productFormLeft > label {
	margin-bottom: 10px;
	color: gray;
}

.productFormLeft > input {
	margin-bottom: 10px;
	border: none;
	padding: 5px;
	border-bottom: 1px solid gray;
}

.productFormLeft > select {
	margin-bottom: 10px;
}

.productUploadImg {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	object-fit: cover;
	margin-right: 20px;
}

.productFormRight {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.productUpload {
	display: flex;
	align-items: center;
}

.productButton {
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: darkblue;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
