* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Source Sans 3", sans-serif;
}

.container {
	display: flex;
	margin-top: 10px;
}

.link {
	text-decoration: none;
	color: inherit;
}

.dashboard_content {
	flex: 4;
}
